.voucher-list {
  width: 100%;
min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0px 15px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.voucher-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}
