.filter-section {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 13px;
  padding: var(--def-padding);
}

.filter-by-parameter,
.sort-select {
  width: 165px;
  height: 35px;
  position: relative;
  padding: 12px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 8px;
  border: 0.5px solid #c5c6cc;
  border-radius: 5px;
}

.filter-by-parameter {
  padding: 8px 14px;
  gap: 22px;
}

.filter-by-parameter::before,
.sort-select::before,
.option::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.option::before {
  border-radius: 0px !important;
}

.options {
  position: absolute;
  top: 115%;
  left: 0;
  width: 100%;
  border-radius: 5px;
  min-height: 35px;
  height: 70px;
  border: 0.5px solid #c5c6cc;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  z-index: 11;
  overflow: auto;
}

.options::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.option {
  position: relative;
  width: 100%;
  height: 35px;
  border-bottom: var(--bottom-border);
  padding: 10px;
}

.option:last-child {
  border-bottom: none;
}
.option,
.text {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1%;
  color: #c5c6cc;
  flex: 1;
}

.icon {
  width: 20px;
  height: 20px;
}

.arrow-down{
  transition: var(--transition);
}

.active-arrow {
  transform: rotateZ(180deg);
}
