html,body{
    overflow: auto;
  }

.tasks-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-bottom: 150px;
}

.tasks-list{
    width: 100%;
    padding: var(--def-padding);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;
}