
.wallet-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 150px;
}

.bttns-list {
  width: 100%;
  display: flex;
  padding: 15px 15px;
  gap: 7px;
  overflow-x: auto;
  border-bottom: var(--bottom-border);
}

.bttns-list::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.def-buttons {
  width: 100%;
  padding: var(--def-padding);
  padding-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-bottom: 7px;
  position: relative;
  z-index: 11;
}

.children {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.children div {
  width: 45%;
  text-align: left;
}

.children:last-child() {
  margin-left: -15px;
}

.tokens{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding: var(--def-padding);
    margin-bottom: 80px;
}