.territory-component {
  width: 165px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.territory-image {
  display: flex;
  justify-content: start;
  align-items: start;
}

.id {
  width: 100%;
  padding: 10px 10px 7px 10px;
  border-bottom: 0.5px solid #444444;
  font-weight: 600;
  font-size: 12px;
  background: #0f114b;
}

.territory-data {
  width: 100%;
  padding: 10px 10px 6px 10px;
  background: #0f114b;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 1%;
  border-bottom: 0.5px solid #444444;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 8px;
}

.data-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
}

.data-item svg {
  width: 14px;
  height: 15px;
}

.progress {
  width: 100%;
  padding: 7px 10px;
  background: #0f114b;
}