.warehouse-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 150px;
}

.resource-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 8px;
  padding: 15px;
  padding-top: 5px;
}

.buttons {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.children {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.children div {
  width: 55%;
}
