.all-statistic {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 10px;
  padding: var(--def-padding);
}

.progress {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 5px 0px 10px 0px;
}

.progressbar {
  width: 206px;
  height: 31px;
  background: #33d2ff33;
  border-radius: 4px;
  padding: 2px 2px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 3px;
  transition: var(--transition);
}

.violet-progressbar {
  box-shadow: 0px 0px 20px 0px #eb308c80 inset;
}

.violet-progressbar .progressbar-block {
  background: linear-gradient(122.82deg, #f72585 -1.21%, #4cc9f0 70.09%);
}

.progressbar-block {
  width: 14px;
  height: 100%;
  background: #4cc9f0;
  border-radius: 3px;
}

.birch-progressbar .progressbar-block {
  background: linear-gradient(122.82deg, #a3e81d -1.21%, #4cc9f0 70.09%);
}

.progressbar-block:hover {
  transform: scale(1.07);
}

.progress button {
  width: 122px;
  height: 30px;
  font-weight: 600;
  font-size: 10px;
  line-height: 12.1px;
  letter-spacing: 1.5%;
  border-radius: 6px !important;
}

.progress button span {
  margin-bottom: 3px;
}

.def-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}

.def-children {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 1.5%;
  padding-left: 20px;
}

.def-children span {
  width: 70px;
}


@media (min-width:768px) {
  .progressbar {
    width: 260px;
    height: 37px;
    border-radius: 5px;
}
.progressbar-block{
  width: 18.5px;
  border-radius: 4px;
}

.progress button {
  width: 185px;
  height: 35px;
}
}

@media (min-width:400px) {
  .progressbar {
    width: 260px;
    height: 37px;
    border-radius: 5px;
}
.progressbar-block{
  width: 18.5px;
  border-radius: 4px;
}

.progress button {
  width: 185px;
  height: 35px;
}
}